.header {
  color: #f9f7f1;
  font-size: 45px;
}

.shadow-dark {
  text-shadow: 0px 2px 2px rgba(47, 47, 47, 1);
}

.shadow-light {
  text-shadow: 0px 1px 1px rgba(249, 247, 241, 1);
}

.link {
  color: #247BA0 !important;
}

.light {
  color: #f9f7f1;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 5px;
  background: linear-gradient(45deg, rgba(19, 19, 19, 0.3) -50%, #141516);
}

.dark {
  color: #2f2f2f;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 130%;
        height: 100vh;
        left: -20%;
        top: -23%;
        transform: rotate(-10deg);
        background: linear-gradient(45deg, rgb(19, 19, 19) -10%, #141516);
        z-index: -1;
    }
}

.main-text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    width: 500px;

    h1 {
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
        margin: 0;
        line-height: 45px;
    }

    p {
        color: #8a94a7c0;
        font-size: 1rem;
        margin: 0;
        margin-top: 10px;
    }
}



